* {
    font-family: 'Roboto', sans-serif;
}

.btn-xs {
    padding: 0px 3px;
    font-size: 12px;
    line-height: 1;
}

.input-xxs {
    width: 55px;
    height: 16px;
    padding: 0;
    text-align:right;
}

.btn-group-xxs > .btn,
.btn-xxs {
  padding: 1px 2px !important;
  font-size: 12px !important;
  line-height: 1.4 !important;
  border-radius: 3px !important;
}

.table-extra-condensed {
    line-height: 1;
}

.table-extra-condensed th {
    padding: 1px 1px !important;
}

.table-extra-condensed td {
    padding: 1px 1px !important;
}

.card-header {
    padding: 0px 3px;
}

.card-block {
    padding: 3px 3px;
}

.table {
    margin-bottom: 0rem;
}

.table thead th {
    border-bottom: 0;
}

.panel, .panel-top {
    margin-bottom: 5px !important;
}

.overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a, td {
    font-weight: 500;
}

.included td {
    border: 2px solid #009900 !important;
}
