.table-extra-condensed {
    line-height: 1;
}

.table-extra-condensed th {
    padding: 1px 1px !important;
}

.table-extra-condensed td {
    padding: 1px 1px !important;
}

.included td {
    border: 2px solid #009900 !important;
}

.table-success *:not(i):not(svg):not(path):not(a):not(.btn),
.table-warning *:not(i):not(svg):not(path):not(a):not(.btn),
.table-danger *:not(i):not(svg):not(path):not(a):not(.btn),
.table-default *:not(i):not(svg):not(path):not(a):not(.btn) {
    color: black !important;
}

.table-success .btn,
.table-warning .btn,
.table-danger .btn,
.table-default .btn {
    border-color: black !important;
    border-style: solid !important;
    border-width: 1px !important;
}

.table-success a,
.table-warning a,
.table-danger a,
.table-default a {
    color: #0000EE !important;
}

.table-success a:active,
.table-warning a:active,
.table-danger a:active,
.table-default a:active {
    color: #FF0000 !important;
    text-decoration: underline !important;
}

.table-success a:visited,
.table-warning a:visited,
.table-danger a:visited,
.table-default a:visited {
    color: #551A8B !important;

.range-wrapper {
    border: solid 1px #ced4da;
    padding: 3px 9px;
    border-radius: .25rem;
}
}

.table-default td {
    background-color: buttonface !important;
}

.range-wrapper {
    border: 1px solid #ced4da;
    border-radius: .25em;
    padding: .2em .5em;
}

.range-wrapper input[type='range'] {
    width: 100%;
}

.range-wrapper .lable {
    font-size: .6em;
}

.range-wrapper .align-right {
    float: right;
}
